In [2]:
# 2741
n = int(input())
for i in range(1, n + 1):
    print(i)

5
1
2
3
4
5

In [6]:
# 2742
n = int(input())
for i in range(n, 0, -1):
    print(i)

5
5
4
3
2
1

In [7]:
# 2739
n = int(input())
for i in range(1, 10):
    print(n, '*', i, '=', n * i)

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [8]:
# 2438
n = int(input())
for i in range(1, n + 1):
    print('*' * i)

5
*
**
***
****
*****

In [15]:
# 2439
n = int(input())
for i in range(1, n + 1):
    print(' ' * (n - i) + '*' * i)

5
    *
   **
  ***
 ****
*****

In [16]:
# 2440
n = int(input())
for i in range(n, 0, -1):
    print('*' * i)

5
*****
****
***
**
*

In [17]:
# 2441
n = int(input())
for i in range(n, 0, -1):
    print(' ' * (n - i) + '*' * i)

5
*****
 ****
  ***
   **
    *

In [8]:
# 1924
month, day = map(int, input().split())
mdays = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
date = ['MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT', 'SUN']
num = 0
for i in range(0, month):
    num += mdays[i]
num += day
if num % 7 == 0:
    print(date[6])
elif num % 7 == 1:
    print(date[0])
elif num % 7 == 2:
    print(date[1])
elif num % 7 == 3:
    print(date[2])
elif num % 7 == 4:
    print(date[3])
elif num % 7 == 5:
    print(date[4])
elif num % 7 == 6:
    print(date[5])

12 25
TUE

In [9]:
# 8393
n = int(input())
result = 0
for i in range(1, n + 1):
    result += i
print(result)

3
6

In [14]:
# 11720
nlen = int(input())
n = input()
result = 0
for i in range(0, nlen):
    result += int(n[i])
print(result)

5
54321
15

In [3]:
# 11721
word = input()
for i in range(0, len(word) // 10 + 1):
    print(word[i * 10 : (i + 1) * 10])

OneTwoThreeFourFiveSixSevenEightNineTen
OneTwoThre
eFourFiveS
ixSevenEig
htNineTen

In [ ]:
# 15552
import sys
n = int(input())
for i in range(n):
    a, b = map(int,sys.stdin.readline().split())
    print(a + b)

In [1]:
# 10950

T = int(input())

for i in range(T):
    a, b = map(int, input().split())
    print(a+b)

 5
 1 1

2

 2 3

5

 3 4

7

 9 8

17

 5 2

7

In [2]:
# 11021

T = int(input())

for i in range(1, T+1):
    a, b = map(int, input().split())
    print('Case #' + str(i) + ':', a+b)

 5
 1 1

Case #1: 2

 2 3

Case #2: 5

 3 4

Case #3: 7

 9 8

Case #4: 17

 5 2

Case #5: 7

In [3]:
# 11022

T = int(input())

for i in range(1, T+1):
    a, b = map(int, input().split())
    print('Case #%d: %d + %d = %d' %(i, a, b, a+b))

 5
 1 1

Case #1: 1 + 1 = 2

 2 3

Case #2: 2 + 3 = 5

 3 4

Case #3: 3 + 4 = 7

 9 8

Case #4: 9 + 8 = 17

 5 2

Case #5: 5 + 2 = 7

In [5]:
# 2523

n = int(input())

for i in range(1, 2 * n):
    if i <= n:
        print(i * '*')
    elif i > n:
        print((2 * n - i) * '*')

 5

*
**
***
****
*****
****
***
**
*

In [22]:
# 2446

n = int(input())

for i in range(n):
    print(' ' * i, end ='')
    print('*' * (2 * (n-i)-1))
for i in range(n-2, -1, -1):
    print(' ' * i, end='')
    print('*' * (2 * (n-i)-1))

 5

*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

In [56]:
# 10996

n = int(input())
a, b = n, n//2

for i in range(1, n+1):
    if a % 2 == 1:
        print('* ' * (a-b))
        print(' *' * b)
    else:
        print('* ' * b)
        print(' *' * (a-b))

 3

* *
 *
* *
 *
* *
 *